# local package
-e .

# external requirements
click
Sphinx
coverage
awscli
python-dotenv>=0.5.1
jupyter

#style
flake8
black



# data handling plink bfile format
plinkio==0.9.8

# ml
torch==1.8.1
pytorch-lightning==1.3.3
wandb==0.12.0
torchmetrics

# utility
wasabi==0.8.2