# Style
flake8
black

# data handling plink bfile format
# plinkio==0.9.8
pandas_plink==1.15.0
dask_ml==2022.1.22

# ml
torch==1.8.1
pytorch-lightning==1.3.3
wandb==0.12.1
torchmetrics==0.7.2

# utility
wasabi==0.8.2